@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');

html {
    background-color: #F8F8FF;
}

body {
    font-family: 'Montserrat', sans-serif;
    max-width: 900px;
    margin: 0 auto;
}

#pancakes {
    display: none;
    padding: 15px;
    color: white;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #A3B4A2;
    border-radius: 15px;
    overflow: hidden;
    padding: 0;
}

nav ul.hide {
    display: none;
}

nav ul li a:hover {
    background-color: #3B2F2F;
}

.clear:after {
    display: table;
    content: "";
    clear: both;
}

nav button {
    background-color: transparent;
    font-size: 1.6rem;
    padding: 10px;
    margin: 0 5px;
    border: none;
}

nav ul li {
    flex: 1 1 auto;
    text-align: center;
    margin: auto;
    padding: 15px;
    display: block;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

.content {
    margin: 15px;
    border: 1px dashed;
    padding: 20px;
    background-color: #A3B4A2;
    color: #444;
    font-style: italic;
}

.summary {
    position: relative;
    overflow: hidden;
    padding: 10px;
}

.summary picture {
    max-width: 100%;
    border: 1px solid black;
}

.weather {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: lightgrey;
    padding: .7rem;
    margin: 10px 0 20px;
    opacity: .9;
}

.forecast {
    display: none;
}

.content img {
    max-width: 90%;
    border: 1px solid black;
    margin: 5%;
}

p,
a {
    font-size: 1em;
}

nav a {
    text-decoration: none;
    font-size: 1.2em;
}

header,
footer {
    margin-top: 10px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    background-color: #A3B4A2;
    border-radius: 15px;
    padding: 20px 0px 20px 0px;
}

header img {
    width: 75px;
    height: auto;
    margin: auto;
    display: inline-block;
    align-items: center;
}

main {
    padding: 20px;
    color: black;
}

#contact {
    color: #3B2F2F;
    padding: 15px;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 10px;
}

picture img {
    width: 100%;
}

.mainContent {
    display: block;
    align-items: center;
    justify-content: center;
}

.mainContent h2 {
    margin: 30px;
}

form fieldset {
    margin: 3rem 0;
    border: 1px solid white;
    background-color: #A3B4A2;
    border-radius: 15px;
}

form legend {
    color: #3B2F2F;
    position: relative;
    padding: 10px;
    font-weight: bold;
}

form label.top, form div {
    display: block;
    margin-bottom: 20px;
    color: white;
}

form label.top input, form label.top select, form label.top textarea {
    display: block;
    font-size: 1rem;
    border: 1px solid #3B2F2F;
    border-radius: 4px;
    padding: 10px;
    color: grey;
    box-sizing: border-box;
    width: 100%;
}

form label.sbs {
  display: block;
  padding: .1rem 0;
  color: var(--dark-75);
}

form input.submitButton {
  display: block;
  background-color: #A3B4A2;
  color: white;
  border-radius: .5rem;
  padding: 10px;
  width: 200px;
  margin: auto;
}

form input.submitButton:hover {
    background-color: grey;
}

form label.top input:required{
    border-left: red solid 4px;
}

form label.rating input {
    display: block;
    width: 100%;
    margin: 20px;
}

form {
    margin: 0 auto;
    max-width: 300px;
}

section {
    border: solid 1px black;
    text-align: center;
    margin: 30px 0;
    box-shadow: 0px 0px 10px black;
    padding: 15px;
}

section img {
    width: 100%;
    margin: 15px 0;
}

section h2 {
    margin: 0;
}

.events {
margin: 30px auto 35px;
padding: 15px;
background-color: #A3B4A2;
text-align:center;
}

.events li {
    text-align: center;
    list-style-type: none;
    line-height: 1.5rem;
}
