@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

header {
    background-color:burlywood;
    text-align: center;
    color: white;
    border: 1px solid #000;
}

header h1 {
    padding-top: 10px;
    margin: 0;
}

#content {
    max-width: 1000px;
    margin: auto;
}

body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  padding: 5px;
  font-size: 16px;
  color: burlywood;
}

h2 {
    font-size: 1.5em;
    padding-bottom: 10px;
}

footer {
    background-color: #5F8AD3;
    color: black;
    height: auto;
    text-align: center;
    padding: 25px;
    font-size: 16px;
}

footer a {
    color: burlywood;
}

div h3 {
    background-color: burlywood;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 15px 15px 0 0;
    margin: 0;
}

div {
    background-color: #5F8AD3;
    margin: 15px;
    width:auto;
    border-radius: 15px 15px 0 0;
}

div p, a {
    margin: 15px;
}

div img {
    max-width: 90%;
    margin: 5%;
}