    header {
        background-color: blue;
        text-align: center;
    }

    footer {
        background-color: blue;
        text-align: center;
    }

    #content {
        max-width: 960px;
        display: flex;
    }

