body{
    font-size: 18px;
    line-height: 1.5;
}

header, nav, main, footer{
    margin: 1.25rem auto;
    max-width: 760px;

}

.self-portrait {
    float: right;
    margin: 10px;
    border: 1px solid #000;
}

header, footer {
    border-radius: 15px;
    background-color: #DD403A;
    padding: 1.5rem;
    text-align: center;
}

h1 {
    color:#ADBDFF;
    text-align: center;
}

h2 {
    color:#ADBDFF;
}

ul li {
    font-family:  'Lato', sans-serif;
    line-height: 1.8em;
 }

