@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');

body{
    font-family: 'Ubuntu', sans-serif;
    max-width: 25rem;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}

tr {
    background-color: #e7f0ed;
}

thead tr th { 
    font-size: 1.5rem;
    padding: 10px;
    background-color: #7fb9c2;
}

th, td {
    border: 1px #c0c0c0;
    padding: 10px;
  }

  .emphasize {
    color: #fff;
    background-color: #628ca6;
}

table {
    width: 18rem;
    border-collapse: collapse;
    box-shadow: 5px 10px 18px #628ca6;
}

tr:nth-child(odd) {
    background-color: #e7ffed;
}

tfoot tr td{
    font-size: 0.7rem;
    background-color: #7fb9c2;
}