@media only screen and (min-width: 60em) {

    main {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;}
        #rule-of-thirds {grid-column-start: 1;}
        #alignment {grid-column-start: 2;}
        #repitition {grid-column-start: 3;}
    }