@media only screen and (min-width: 56em) {

    nav button {
        display: none;
    }

    nav ul.hide {
        display:flex;
    }

    header img {
        float: right;
        width: 100px;
        height: auto;
        padding: .5em;
    }

    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        padding: 10px;
        grid-gap: 2rem;
    }
}