@media only screen and (min-width: 32.5em) {
    nav ul { flex-direction: row; }
    h1 {
        font-size: 2rem;
      }
    
      h2 {
        font-size: 1.5rem;
      }
    
      main, footer {
        font-size: 1rem;
      }

      header img {
        float: right;
        width: 90px;
        height: auto;
        padding: .5em;
    }
    
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: 10px;
        row-gap: 3rem;
    }

    p {
        font-size: 14px;
    }
}