@media only screen and (min-width: 32.5em) {
    nav ul { flex-direction: row; }
    h1 {
        font-size: 2rem;
      }
    
      h2 {
        font-size: 1.5rem;
      }
    
      main, footer {
        font-size: 1rem;
      }

      .content{
          background-color: whitesmoke;
      }

      header img {
        float: right;
        width: 90px;
        height: auto;
        padding: .5em;
    }

    .forecast {
      display: inline;
      text-align: center;
  }
  th {
      background-color: yellowgreen;
      color: black;
  }
  td,
  th,
  table {
      border: 1px solid black;
      border-collapse: collapse;
      padding: 10px;
  }
  .forecast h3 {
      margin-bottom: 5px;
  }
  .forecast img {
      max-width: 90%;
  }

  .content {
    margin: 40px 0;
}
.content img {
    width: 50%;
    float: right;
    margin: 0 0 20px 20px;
}
    
}