@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');

html {
    background-color: steelblue;
}

body {
    font-family: 'Montserrat', sans-serif;
    max-width: 750px;
    margin: 0 auto;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: yellowgreen;
    border-radius: 15px;
}

nav ul li {
    flex: 1 1 auto;
    text-align: center;
    margin: auto;
    padding: 15px;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
}

p, a {
    font-size: 1em;
}

nav a {
    text-decoration: none;
    font-size: 1.2em;
}

header,
footer {
    margin-top: 10px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: #7e8f91;
    background-color: yellowgreen;
    border-radius: 15px;
    padding: 20px 0px 20px 0px;
}

header h1 {
    margin-right: 100px;
}

header img {
    float: right;
    max-height: 95px;
    margin-top: -90px;
    margin-right: 10px;
}

main {
    padding: 20px;
    color: #161413;
}

/*a:link {
    color: #52489C;
}

a:hover {
    color: #161413;
}

a:visited {
    color: #A62639;
}

nav a:link {
    color: #52489C;
}

nav a:hover {
    color: #A62639;
}

nav a:visited {
    color: #161413;
}

#footerLink {
    color: #CCDBDC;
}*/

.logo-domain {
    float: left;
    padding: 2em;
    max-height: 100px;
}

.persona {
    padding: 1em;
}

#colorPalette {
    max-width: 100%;
}

#textColor {
    color: #161413;
    padding: 1em;
}
#backgroundColor {
    color: #CCDBDC;
    background-color: #2D2D2D;
    padding: 1em;
}
#accentColor1 {
    color: #52489C;
    padding: 1em;
}
#accentColor2 {
    color: #FA9F42;
    background-color: #2D2D2D;
    padding: 1em;
}
#accentColor3 {
    color: #A62639;
    padding: 1em;
}

#fontSize {
    background-color: #FA9F42;
    padding: 2em;
}

#footerSize {
    font-size: 0.8em;
}